# See description of the requirements in "README.md".
tensorflow==2.8.3
tensorflow_addons==0.16.1
tensorflow_probability==0.16.0
numpy==1.23.3
gym==0.26.1
pygame==2.1.2
mujoco==2.2.2
ufal.pybox2d==2.3.10.2
imageio==2.22.4
